body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background: #f0f0f0;
}

.clock {
width: 600px;
height: 600px;
border: 8px solid #333;
border-radius: 5%;
position: relative;
background: white;
}

.digit {
position: absolute;
width: 100%;
height: 100%;
text-align: center;
font-size: 20px;
font-weight: bold;
}

.digit span {
display: inline-block;
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.center {
width: 15px;
height: 15px;
background: #333;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 10;
}

.hand {
position: absolute;
bottom: 50%;
left: 50%;
transform-origin: bottom center;
background: #333;
}

.hour {
width: 6px;
height: 80px;
margin-left: -3px;
}

.minute {
width: 4px;
height: 110px;
margin-left: -2px;
}

.second {
width: 2px;
height: 120px;
margin-left: -1px;
background: red;
}